$ok-btn-bgc: #23bd29;
$cancel-btn-bgc: #fe3332;
$submit-btn-bgc: #fa9820;

button {
    padding: 10px 30px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    margin: 10px; 
    font-family: 'Josefin Sans', sans-serif;
}

.okButton {
    background-color: $ok-btn-bgc;
    transition: all .6s linear;
    &:hover{
        background-color: darken($ok-btn-bgc, 10%);
    }
}

.cancelButton {
    background-color: $cancel-btn-bgc;
    transition: all .6s linear;
    &:hover{
        background-color: darken($cancel-btn-bgc, 10%);
    }
}

.submitButton {
    background-color: $submit-btn-bgc;
    transition: all .6s linear;
    &:hover{
        background-color: darken($submit-btn-bgc, 10%);
    }
}