nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    a{
        padding: 5px 20px;
        border: 2px solid transparent;
        border-radius: 10px;
        &:hover{
            border: 2px solid #fff;           
        }
        &.active{
            background-color: #fff;
            border: 2px solid #fff;
        }
    }
}