body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #3a2438;
    color: #9d9b9d;
    padding-left: 20px;
    padding-right: 20px;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all .3s ease;
    &:hover {
        color: #fff;
    }
}